<div class="container m30">

  <div class="row">
    <div class="col-md-3">
      <label for="termino">Buscar artísta</label>
      <input type="text"  class="form-control"
             (keyup)="buscarArtista()"
             placeholder="Buscar artísta..." [(ngModel)]="termino">
    </div>

    <div class="col-md-9" *ngIf="termino.length > 1">
      <h1 class="text-capitalize">{{ termino }}</h1>
      <hr>

      <div class="row">
        <div *ngFor="let artista of spotify.artistas"
             [routerLink]="['/artist', artista.id]"
             class="col-md-3 text-center puntero">
          <img [src]="artista.images | sinfoto" [alt]="artista.name"
               class="img-thumbnail">
          <p> {{ artista.name }}</p>
        </div>
      </div>

    </div>

  </div>
</div>
